body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background:url("pictures/back.jpg");
    background-size: cover; /*one image covers the whole page*/
    background-position: left;
    position: relative;
    height: 100vh;
    /*font-family: "helvetica Neue" , Helvetica , Arial; */
}
#sidebar.visible{ /*if it has to been visible */
        left:0px;
        transition: left 0.3s linear;
}
#sidebar{
    background: #151718;
    width:200px;
    height:100%;
    display:flow-root;
    position:absolute;
    left:0px;       /*we want to side bar on the top left */
    top:0px;
    transition: left 0.3s linear;
}
#sidebar.visible
{
transition: left 0.3s linear;
}
#sidebar-btn{
    display: inline-block;
    vertical-align: middle;
    width:20px;
    height: 5px;
}

#sidebar-btn.span{
    height: 1px;
    background: #111;
    margin-bottom: 5px;
    display:block;
    cursor: pointer;
}
#sidebar ul li:hover
{
    background-color:green;
    opacity: .75;
}
ul
{
    margin:0px;
    padding:0px;
}

ul li
{   
    list-style:none; /*to avoid the bullets*/    
}

ul li a /*for the links*/
{
  
    color: #ccc;
    display:block;
    border-bottom:1px solid #111;
    width:180px;
    padding:15px  10px; /*left right = 20 px + 180 = 200 */
    text-decoration: none;
}